
<head>
  
</head>
<body>
  
  
<div class="container-fluid" >
  <div id="loader" *ngIf="loading"></div>
  <div class="col-lg-12" *ngIf="!loading">
    <div class="team-member">
      <h2>Liste des Clients</h2>
      <hr>
              
      <div class="users-grid"  style="overflow-x:auto;">

        
        
        <table class="table table-striped">
          <thead>
          <tr>
      
            
            <th>Email</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Fonction</th>
            <th>Mobile</th>
            <th>Clientcode</th>
            <th>Secteur</th>
            <th>Raisonsociale</th>
            <th>Role</th>
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of getclients()">
      
            
            <td>{{user.email}}</td>
            <td>{{user.firstname}}</td>
            
      
            <td>{{user.lastname}}</td>
            <td >{{user.fonction}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.clientcode}}</td>
            <td>{{user.secteur}}</td>
            <td>{{user.raisonsociale}}</td>
            <td>{{user.role}}</td>
            
            
            <td>  <button type="button" class="btn btn-success" (click)="getNavigationusers('view-user',user._id)">Consulter</button></td>
            
              
          </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>

  <div id="loader" *ngIf="loading"></div>
  <div class="col-lg-12" *ngIf="!loading">
    <div class="team-member">
      <h2>Liste des Collaborateurs</h2>
      <hr>        
      <div class="users-grid" style="overflow-x:auto;">

        
        
        <table class="table table-striped">
          <thead>
          <tr>
      
            
            <th>Email</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Fonction</th>
            <th>Mobile</th>
            <th>Clientcode</th>
            <th>Secteur</th>
            <th>Raisonsociale</th>
            <th>Role</th>
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of getcollaborateurs()">
      
            
            <td>{{user.email}}</td>
            <td>{{user.firstname}}</td>
            
      
            <td>{{user.lastname}}</td>
            <td>{{user.fonction}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.clientcode}}</td>
            <td>{{user.secteur}}</td>
            <td>{{user.raisonsociale}}</td>
            <td>{{user.role}}</td>
            
            
            <td>  <button type="button" class="btn btn-success" (click)="getNavigationusers('view-user',user._id)">Consulter</button></td>
            
          
          </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
  <div id="loader" *ngIf="loading"></div>
  <div class="col-lg-12" *ngIf="!loading">
    <div class="team-member">
      <h2>Liste des Candidats</h2>
      <hr>        
      <div class="users-grid" style="overflow-x:auto;">

        
        
        <table class="table table-striped">
          <thead>
          <tr>
      
            
            <th>Email</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Fonction</th>
            <th>Mobile</th>
            <th>Clientcode</th>
            <th>Secteur</th>
            <th>Raisonsociale</th>
            <th>Role</th>
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of getcondidates()">
      
            
            <td>{{user.email}}</td>
            <td>{{user.firstname}}</td>
            
      
            <td>{{user.lastname}}</td>
            <td>{{user.fonction}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.clientcode}}</td>
            <td>{{user.secteur}}</td>
            <td>{{user.raisonsociale}}</td>
            <td>{{user.role}}</td>
            
            
            <td>  <button type="button" class="btn btn-success" (click)="getNavigationusers('view-user',user._id)">Consulter</button></td>
            
          
          </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
  <div id="loader" *ngIf="loading"></div>
  <div class="col-lg-12" *ngIf="!loading">
    <div class="team-member">
      <h2>Liste des Candidatures</h2>
      <hr>        
      <div class="users-grid" style="overflow-x:auto;">

        
        
        <table class="table table-striped">
          <thead>
          <tr>
      
            
            <th>Email</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Mobile</th>
            <th>Decision</th>
            <th>CV</th>
            
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let condidate of condidates">
      
            
            <td>{{condidate.email}}</td>
            <td>{{condidate.firstname}}</td>
            
      
            <td>{{condidate.lastname}}</td>
            <td>{{condidate.adresse}}</td>
            <td>{{condidate.mobile}}</td>
            <td>{{condidate.decision}}</td>
            
            <td><a href="{{condidate.ficheUrl}}" target="_blank">Aperçu CV</a></td>
            
            
            <td>  <button type="button" class="btn btn-success" (click)="getNavigationcondidates('view-condidate',condidate._id)">Consulter</button></td>
            
          
          </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>
</body>
  
