.container-fluid {
    padding: 60px 50px;
    background-position: center center; background-size: cover; 
     background-image: url('../../assets/service\ background.jpg');
     
     font-size: 25px;
   }