
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
  
  
<div class="container-fluid" >
  <div id="loader" *ngIf="loading"></div>
  <div class="col-lg-12" *ngIf="!loading">
    <div class="team-member">
      <h2>Liste des Clients</h2>
      <hr>
      <div class="container-fluid">
      <form [formGroup]="searchForm">
       
        <div class="searchbar">
          
          <input class="search_input" id="email"  formControlName="email"type="text"  placeholder="Chercher par Email">
         <a class="search_icon"(click)="getusersbyemail()" style="cursor: pointer;"> <i class="fas fa-search"></i></a>
        
      </div>
          <div class="searchbar">
          
            <input class="search_input" id="lastname"  formControlName="lastname"type="text"  placeholder="Chercher par Nom">
           <a class="search_icon"(click)="getusersbylastname()" style="cursor: pointer;"> <i class="fas fa-search"></i></a>
          
        </div>
          <div class="searchbar">
          
              <input class="search_input" id="firstname"  formControlName="firstname"type="text"  placeholder="Chercher par Prénom">
             <a class="search_icon"(click)="getusersbyfirstname()" style="cursor: pointer;"> <i class="fas fa-search"></i></a>
            
          </div><br>
          <div class="searchbar" style="float: right;">
            
            <input class="search_input" type="text"  placeholder="Cliquer pour chercher tout" disabled>
           <a class="search_icon"(click)="getall()" style="cursor: pointer;"> <i class="fas fa-search"></i></a>
          
        </div>
          </form> 
        </div>     
      <div class="users-grid"  style="overflow-x:auto;overflow-y: auto;height: 200px;">

        
        
        <table class="table table-striped">
          <thead>
          <tr>
      
            
            <th>Email</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Fonction</th>
            <th>Mobile</th>
            <th>Clientcode</th>
            <th>Secteur</th>
            <th>Raisonsociale</th>
            <th>Role</th>
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of getclients()">
      
            
            <td>{{user.email}}</td>
            <td>{{user.firstname}}</td>
            
      
            <td>{{user.lastname}}</td>
            <td >{{user.fonction}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.clientcode}}</td>
            <td>{{user.secteur}}</td>
            <td>{{user.raisonsociale}}</td>
            <td>{{user.role}}</td>
            
            
            <td>  <button type="button" class="btn btn-success" (click)="getNavigationusers('view-user',user._id)">Consulter</button></td>
            
              
          </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>

  <div id="loader" *ngIf="loading"></div>
  <div class="col-lg-12" *ngIf="!loading">
    <div class="team-member">
      <h2>Liste des Collaborateurs</h2>
      <hr>
            
      <div class="users-grid" style="overflow-x:auto;overflow-y: auto;height: 200px;">

        
        
        <table class="table table-striped">
          <thead>
          <tr>
      
            
            <th>Email</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Fonction</th>
            <th>Mobile</th>
            <th>Clientcode</th>
            <th>Secteur</th>
            <th>Raisonsociale</th>
            <th>Role</th>
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of getcollaborateurs()">
      
            
            <td>{{user.email}}</td>
            <td>{{user.firstname}}</td>
            
      
            <td>{{user.lastname}}</td>
            <td>{{user.fonction}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.clientcode}}</td>
            <td>{{user.secteur}}</td>
            <td>{{user.raisonsociale}}</td>
            <td>{{user.role}}</td>
            
            
            <td>  <button type="button" class="btn btn-success" (click)="getNavigationusers('view-user',user._id)">Consulter</button></td>
            
          
          </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>

  <div id="loader" *ngIf="loading"></div>
  <div class="col-lg-12" *ngIf="!loading">
    <div class="team-member">
      <h2>Liste des Consultants</h2>
      <hr>
            
      <div class="users-grid" style="overflow-x:auto;overflow-y: auto;height: 200px;">

        
        
        <table class="table table-striped">
          <thead>
          <tr>
      
            
            <th>Email</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Fonction</th>
            <th>Mobile</th>
            <th>Clientcode</th>
            <th>Secteur</th>
            <th>Raisonsociale</th>
            <th>Role</th>
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of getconsultants()">
      
            
            <td>{{user.email}}</td>
            <td>{{user.firstname}}</td>
            
      
            <td>{{user.lastname}}</td>
            <td>{{user.fonction}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.clientcode}}</td>
            <td>{{user.secteur}}</td>
            <td>{{user.raisonsociale}}</td>
            <td>{{user.role}}</td>
            
            
            <td>  <button type="button" class="btn btn-success" (click)="getNavigationusers('view-user',user._id)">Consulter</button></td>
            
          
          </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>

  <div id="loader" *ngIf="loading"></div>
  <div class="col-lg-12" *ngIf="!loading">
    <div class="team-member">
      <h2>Liste des Candidats</h2>
      <hr>
              
      <div class="users-grid" style="overflow-x:auto;overflow-y: auto;height: 200px;">

        
        
        <table class="table table-striped">
          <thead>
          <tr>
      
            
            <th>Email</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Fonction</th>
            <th>Mobile</th>
            <th>Clientcode</th>
            <th>Secteur</th>
            <th>Raisonsociale</th>
            <th>Role</th>
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of getcondidates()">
      
            
            <td>{{user.email}}</td>
            <td>{{user.firstname}}</td>
            
      
            <td>{{user.lastname}}</td>
            <td>{{user.fonction}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.clientcode}}</td>
            <td>{{user.secteur}}</td>
            <td>{{user.raisonsociale}}</td>
            <td>{{user.role}}</td>
            
            
            <td>  <button type="button" class="btn btn-success" (click)="getNavigationusers('view-user',user._id)">Consulter</button></td>
            
          
          </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
  <div id="loader" *ngIf="loading"></div>
  <div class="col-lg-12" *ngIf="!loading">
    <div class="team-member">
      <h2>Liste des Candidatures</h2>
      <hr>
              
      <div class="users-grid" style="overflow-x:auto;overflow-y: auto;height: 200px;">
        <form [formGroup]="searchForm">
       
          <div class="searchbar">
            
            <input class="search_input" id="email"  formControlName="email"type="text"  placeholder="Chercher par Email">
           <a class="search_icon"(click)="getcondidatesbyemail()" style="cursor: pointer;"> <i class="fas fa-search"></i></a>
          
        </div>
        <div class="searchbar" style="float: right;">
            
          <input class="search_input" type="text"  placeholder="Cliquer pour chercher tout">
         <a class="search_icon"(click)="getcondidatesall()" style="cursor: pointer;"> <i class="fas fa-search"></i></a>
        
      </div>
            
            </form> 
        
        
        <table class="table table-striped">
          <thead>
          <tr>
      
            
            <th>Email</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Mobile</th>
            <th>Decision</th>
            <th>CV</th>
            
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let condidate of condidates">
      
            
            <td>{{condidate.email}}</td>
            <td>{{condidate.firstname}}</td>
            
      
            <td>{{condidate.lastname}}</td>
            <td>{{condidate.adresse}}</td>
            <td>{{condidate.mobile}}</td>
            <td>{{condidate.decision}}</td>
            
            <td><a href="{{condidate.ficheUrl}}" target="_blank">Aperçu CV</a></td>
            
            
            <td>  <button type="button" class="btn btn-success" (click)="getNavigationcondidates('view-condidate',condidate._id)">Consulter</button></td>
            
          
          </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
  <div id="loader" *ngIf="loading"></div>
  <div class="col-lg-12" *ngIf="!loading">
    <div class="team-member">
      <h2>Liste des Réclamations</h2>
      <hr>
              
      <div class="users-grid" style="overflow-x:auto;overflow-y: auto;height: 400px;">
        <form [formGroup]="searchForm">
       <div class="dategroup">
        <label for="date"> Réclamations Inférieur à:</label>
          <div class="searchbar" title="chercher les réclamations avec la date de création inférieur à">
            
            <input class="search_input" id="date"  formControlName="date"type="date"  placeholder="inférieur à:">
           <a class="search_icon"(click)="getcontactreqsbydateinf()" style="cursor: pointer;"> <i class="fas fa-search"></i></a>
          
        </div>
      </div>
      <div class="dategroup">
        <label for="date"> Réclamations Supérieur à:</label>
        <div class="searchbar"title="chercher les réclamations avec la date de création supérieur à">
            
          <input class="search_input" id="date"  formControlName="date"type="date"  placeholder="supérieur à:">
         <a class="search_icon"(click)="getcontactreqsbydatesup()" style="cursor: pointer;"> <i class="fas fa-search"></i></a>
        
      </div>
    </div>
        <div class="searchbar" style="float: right;">
            
          <input class="search_input" type="text"  placeholder="Cliquer pour chercher tout">
         <a class="search_icon"(click)="getcontactsall()" style="cursor: pointer;"> <i class="fas fa-search"></i></a>
        
      </div>
            
            </form> 
        
        
        <table class="table table-striped">
          <thead>
          <tr>
      
            <th>Date Création</th>
            <th>Email</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Fichier Joint</th>
            <th>Mobile</th>
            <th>Description</th>
            <th>Statut</th>
            
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let contact of contacts">
      
            <td>{{contact.created}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.firstname}}</td>
            
      
            <td>{{contact.lastname}}</td>
            <td><a href="{{contact.ficheUrl}}" target="_blank">Aperçu Fichier</a></td>
            <td>{{contact.mobile}}</td>
            <td>{{contact.description}}</td>
            <td>{{contact.statut}}</td>
            
            
            
            <td>  <button type="button" class="btn btn-success" (click)="getNavigationcontacts('view-contactreq',contact._id)">Consulter</button></td>
            
          
          </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>
</body>
  
