

  <body>

    <h2>Informations générales</h2>
    
    <div class="card">
      <img src="../../assets/img_avatar.png" *ngIf="currentUser.civilite=='monsieur'" else alt="Avatar" style="width:30% ;height:30%">
      <img src="../../assets/img_avatar2.png" *ngIf="currentUser.civilite!='monsieur'" alt="Avatar" style="width:30% ;height:30%">
      <div class="container">
        <h4>{{ currentUser.civilite }} <b>{{ currentUser.Firstname }} {{ currentUser.Lastname }}</b></h4> 
        <p>{{ currentUser.fonction }}</p> 
        
        <p>{{ currentUser.secteur }}</p>
        <p>{{ currentUser.nomsociete }}</p>
        <p>{{ currentUser.email }}</p>
        <h5>{{ currentUser.clientcode }}</h5>
      </div>
      <button type="button" class="btn btn-warning" (click)="getNavigation('modify-user', currentUser.userId)">Modifier</button>
    </div>
    
    </body>