
  <body>
    <div class="header">
  
      <h1>Bienvenue à votre cabinet virtuel MaCompta</h1>
      
  </div>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="home" routerLinkActive="active">MaCompta</a>
        </div>
        <ul class="nav navbar-nav">
          
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" routerLink="Documentation">Documentation <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="Documentation">comptables</a></li>
              <li><a routerLink="Documentation">juridiques</a></li>
              <li><a routerLink="Documentation">fiscales</a></li>
              <li><a routerLink="Documentation">sociales</a></li>
              <li><a routerLink="Documentation">autres</a></li>
            </ul>
          </li>
          
          <li title=" (veuillez vous inscrire/se connecter)"><a  routerLink="login"*ngIf="!isLoggedIn"routerLinkActive="active">Qui sommes-nous?</a></li>
          <li><a  routerLink="who" *ngIf="isLoggedIn" routerLinkActive="active">Qui sommes-nous?</a></li>
          <li><a *ngIf="isLoggedIn" routerLink="Documentation">Espace clients</a></li>
          <li title=" (veuillez vous inscrire/se connecter)"><a routerLink="login"  *ngIf="!isLoggedIn" href="#clientspace">Espace clients</a></li>
          <li><a routerLink="why" *ngIf="isLoggedIn" routerLinkActive="active">Pourquoi MAcompta?</a></li>
          <li title=" (veuillez vous inscrire/se connecter)"><a routerLink="login"  *ngIf="!isLoggedIn"  routerLinkActive="active">Pourquoi MAcompta?</a></li>
          <li><a routerLink="/home/contact"  target=”_blank” routerLinkActive="active">Contact</a></li>
          <li><a routerLink="Documentation" *ngIf="isLoggedIn" routerLinkActive="active">Consultation en Ligne</a></li>
          <li title=" (veuillez vous inscrire/se connecter)"><a routerLink="login"  *ngIf="!isLoggedIn" routerLinkActive="active">Consultation en Ligne</a></li>
          <li title=" (Cliquer pour intégrer l'équipe MaCompta)"><a routerLink="career"  routerLinkActive="active">Carrière</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"routerLink="Documentation">Tableau de bord <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="admin-board" *ngIf="role=='admin'" routerLinkActive="active">Administrateur</a></li>
              <li><a routerLink="supervisor-board" *ngIf="role=='supervisor'"routerLinkActive="active">Superviseur</a></li>
              <li><a routerLink="user-board" *ngIf="role=='basic'"routerLinkActive="active">Utilisateur</a></li>
              
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="profil"  *ngIf="isLoggedIn" routerLinkActive="active">Profil {{username}} {{lastname}}</a></li>
          <li title=" (veuillez vous inscrire/se connecter)"><a routerLink="login"  *ngIf="!isLoggedIn"    routerLinkActive="active">Profil {{username}} {{lastname}}</a></li>
          <li><a href class="nav-link" *ngIf="!isLoggedIn" routerLink="signup" routerLinkActive="active" > <span class="glyphicon glyphicon-user"></span>Inscription</a></li>
          <li><a href class="nav-link" *ngIf="!isLoggedIn" routerLink="login" routerLinkActive="active" > <span class="glyphicon glyphicon-log-in"></span>Connexion</a></li>
          <li class="nav-item">
            <a href class="nav-link" *ngIf="isLoggedIn" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>Déconnexion</a>
          </li>
        </ul>
      </div>
    </nav>
    
      
    </body>