

<body>
<h3 class="card-header">Verify Email</h3>

<div id="myModal" class="modal fade">
    <div id="loader" *ngIf="emailStatus == EmailStatus.Verifying"></div>
        <div class="modal-dialog modal-confirm" *ngIf="emailStatus == EmailStatus.Failed">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h4>Ooops!</h4>	
                    <p>Vérification échouée, vous pouvez passer par le lien<a routerLink="forgot-password">Mot de passe oublié</a></p>
                    
                </div>
            </div>
        </div>
    


	<div class="modal-dialog modal-confirm" *ngIf="emailStatus == EmailStatus.Success">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>				
				<h4 class="modal-title w-100">Awesome!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">{{successmsg}}</p>
			</div>
			<div class="modal-footer">
				<button routerLink="login" class="btn btn-success btn-block" data-dismiss="modal">OK</button>
			</div>
		</div>
	</div>
</div>    
</body>