


<div class="team-section">
<div class="container">
<div class="loader" *ngIf="emailStatus == EmailStatus.Verifying"></div>
<div class="row">
	<div class="col-lg-12" >
	  <div class="team-member" *ngIf="emailStatus == EmailStatus.Success">
		<div class="photo">
		  <img src="" class="img-fluid" alt="image">
		</div>          
		<h3>{{successmsg}}</h3>
		<hr>
		<button  class="btn btn-success" (click)="onlogin()"> <a routerLink="login">Connexion</a></button>
		
	  </div>
	</div>
	
  </div>

  <div class="row">
	<div class="col-lg-12" >
	  <div class="team-member" *ngIf="emailStatus == EmailStatus.Failed">
		<div class="photo">
		  <img src="" class="img-fluid" alt="image">
		</div>          
		<h3>Vérification échouée, vous pouvez passer par le lien ci-desous</h3>
		<hr>
		
		<a routerLink="forgot-password">Mot de passe oublié</a>
		
	  </div>
	</div>
	
  </div>
</div>
</div>



