<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>
    

<div class="container-fluid" style="text-align: center;">
    <h2 id="heading" style="text-align: center;">Déposer Votre Déclaration Fiscale</h2>
    <div class="container-fluid-disabled">
      <p style="text-align: center;">veuillez cocher pour afficher les sections convenables</p>
    <div id="check1" class="checkbox-container">
      
      <div class="checkbox-container">
        
        <div class="input-container" id="Check1">
          <i class="fa fa-user icon"></i>
          <label for="myCheck1">Ma Déclaration</label>
          <input type="checkbox" id="myCheck1" (click)="myFunction1()">
        </div>
        <div class="input-container" id="Check2">
          <i class="fa fa-user icon"></i>
          <label for="myCheck2">Une Déclaration D'Autrui</label>
          <input type="checkbox" id="myCheck2" (click)="myFunction2()">
        </div>
      </div>
    </div>
   </div>
      <div id="check2" style="display: none;" class="checkbox-container"> 
      
      <div class="checkbox-container">
        
        <div class="input-container" id="Check3">
          <i class="fa fa-user icon"></i>
          <label for="myCheck3">Personne Physique</label>
          <input type="checkbox" id="myCheck3" (click)="myFunction3()">
        </div>
        <div class="input-container" id="Check4">
          <i class="fa fa-user icon"></i>
          <label for="myCheck4">Personne Morale</label>
          <input type="checkbox" id="myCheck4" (click)="myFunction4()">
        </div>
      </div>
    </div> 
           
    <p style="text-align: center;" class="hidden">Veuillez Cochez Le Type De Déclaration Que Vous Souhaitez Faire</p>
                <div class="checkbox-container">
        
                    <div class="input-container" id="Check7"> 
                      <i class="fa fa-user icon"></i>
                      <label for="myCheck7">Déclaration Mensuelle</label>
                      <input type="checkbox" id="myCheck7" (click)="myFunction7()">
                    </div>
                    <div class="hidden" id="Check5">
                        <i class="fa fa-user icon"></i>
                        <label for="myCheck5">Acompte Provisionnelle</label>
                        <input type="checkbox" id="myCheck5" (click)="myFunction5()">
                      </div>
                    <div class="hidden" id="Check6">
                      <i class="fa fa-user icon"></i>
                      <label for="myCheck6">Déclaration Annuelle</label>
                      <input type="checkbox" id="myCheck6" (click)="myFunction6()">
                    </div>
                  </div>

                  <div class="checkbox-container" id="datelist">
                     <div class="input-container" id="Year"> 
                        <i class="glyphicon glyphicon-time"></i>
                        <label for="year">Sélectionner année</label>
                        <select id="year" name="year">
                           <option>Année</option>
                           <option value="2022">2022</option>
                           <option disabled value="2023">2023</option>
                           <option disabled value="2024">2024</option>
                           <option disabled value="2025">2025</option>
                           <option disabled value="2026">2026</option>
                           <option disabled value="2027">2027</option>
                           <option disabled value="2028">2028</option>
                           <option disabled value="2029">2029</option>
                           <option disabled value="2030">2030</option>
                           
                       </select>
                      </div>
                      <div class="input-container" id="Month"> 
                        <i class="glyphicon glyphicon-time"></i>
                        <label for="month">Sélectionner mois</label>
                        <select id="month" name="month">
                           <option>Mois</option>
                           <option value="janvier">(01) janvier</option>
                           <option value="février">(02) février</option>
                           <option value="mars">(03) Mars</option>
                           <option value="avril">(04) avril</option>
                           <option value="peut">(05) Mai</option>
                           <option value="juin">(06) juin</option>
                           <option value="juillet">(07) juillet</option>
                           <option value="août">(08) août</option>
                           <option value="septembre">(09) septembre</option>
                           <option value="octobre">(10) octobre</option>
                           <option value="novembre">(11) novembre</option>
                           <option value="décembre">(12) décembre</option>
                       </select>
                      </div>
                   
                  </div>
                  <div class="users-grid" style="overflow-x:auto;overflow-y: auto;height: 200px;">
                  <table class="table table-striped">
                    
                    <tbody>
                    <tr id="impotlist">
                     <td> <div class="input-container" id="Check8"> 
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck8">Retenue à la source</label>
                      <input type="checkbox" id="myCheck8" (click)="myFunction8()">
                    </div>
                  </td>
                  <td>
                    <div class="input-container" id="Check9">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck9">TFP</label>
                      <input type="checkbox" id="myCheck9" (click)="myFunction9()">
                    </div>
                  </td>
                  <td>
                    <div class="input-container" id="Check10">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck10">Foprolos</label>
                      <input type="checkbox" id="myCheck10" (click)="myFunction10()">
                    </div>
                  </td>
                  <td>
                    <div class="input-container" id="Check11">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck11">TVA</label>
                      <input type="checkbox" id="myCheck11" (click)="myFunction11()">
                    </div>
                  </td>
                  <td>
                    <div class="input-container" id="Check12">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck12">Droit de timbre</label>
                      <input type="checkbox" id="myCheck12" (click)="myFunction12()">
                    </div>
                  </td>
                  <td>
                    <div class="input-container" id="Check13">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck13">TCL</label>
                      <input type="checkbox" id="myCheck13" (click)="myFunction13()">
                    </div>
                  </td>
                  </tr>
                 
                    </tbody>
                  </table>
                </div>

                   <hr>
                   <div class="container-fluid"id="tabcontainer">
                    <mat-tab-group (selectedTabChange)="onTabClick($event)">
  
                      <mat-tab label="Retenue à la source" *ngIf="showretenuetab===true"> 
                        <div title="Sélectionner la rubrique convenable"class="input-container"id="retenuelist">
                          <label for="retenuelist"> Retenue à la source sur:</label>
                          <i class="fas fa-wallet icon-special"></i>
                          <select #cricket (change)="update($event)"[(ngModel)]="optionValue">
                          <option value="default"> </option>
                          <option *ngFor="let retenue of retenues" [value]="retenue">
                              {{retenue}}
                          </option>
                      </select>
                      </div>
                      <div class="input-container"id="selectretenue"*ngIf="optionValue == 'Autre'">
                        <label for="retenue"> Retenue à la source sur:</label>
                        <i class="fas fa-wallet icon-special"></i>
                        <input class="input-field" type="text" placeholder="Renseigner l'intitulé de la rubrique" id="selectretenue" >
                      </div>
                      <hr>
                      <div class="container-fluid">
                      <form  [formGroup]="standardtraitementsalaireform">
                        <h2>{{optionValue}}</h2>
                        <fieldset>
                          
                          <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Salaire Brut</label>
                                    <input type="number" class="form-control" formControlName="brutsalary" placeholder="Saisir le montant"/>
                                  </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Salaire Imposable</label>
                                    <input type="number" class="form-control" formControlName="imposalary" placeholder="Saisir le montant"/>
                                  </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group">
                                  <label>Retenue à la source</label>
                                  <input type="text" class="form-control" formControlName="retenuesalary" placeholder="Saisir le montant"/>
                                </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                                <label>Contribution sociale de solidarité</label>
                                <input type="text" class="form-control" formControlName="solidaritycontribution" placeholder="Saisir le montant"/>
                              </div>
                        </div>
                        
                          </div>
                         </fieldset>
                      </form>
                      <div title="Sélectionner la rubrique convenable"class="input-container"id="retenuelist">
                        <label for="retenuelist">Avez vous d'autres retenues à la source à déclarer:</label>
                        <i class="fas fa-wallet icon-special"></i>
                        <select #cricket (change)="update($event)"[(ngModel)]="option2Value">
                          <option value="default"> </option>
                          <option *ngFor="let retenue of findfiltredretenue(retenues)" [value]="retenue">
                              {{retenue}}
                          </option>
                      </select>
                    </div>
                    <div class="input-container"id="selectretenue"*ngIf="optionValue == 'Autre'">
                      <label for="retenue"> Retenue à la source sur:</label>
                      <i class="fas fa-wallet icon-special"></i>
                      <input class="input-field" type="text" placeholder="Renseigner l'intitulé de la rubrique" id="selectretenue" >
                    </div>
                    </div>
                      </mat-tab>
                    
                      <mat-tab label="TFP" id="TFPtab"*ngIf="showtfptab===true">
                        <p>This is SMS Setting</p>
                      </mat-tab>
                      
                      <mat-tab label="FOPROLOS" id="FOPROLOStab"*ngIf="showfoprolostab===true">
                        <p>This is Email Setting</p>
                      </mat-tab>
                      
                     
                     <mat-tab label="TVA" id="TVAtab"*ngIf="showtvatab===true">
                       <p>This is SMS Setting</p>
                     </mat-tab>
                     
                     <mat-tab label="Droit De Timbre" id="Timbretab"*ngIf="showtimbretab===true">
                       <p>This is Email Setting</p>
                     </mat-tab>
                     <mat-tab label="TCL" id="TCLtab"*ngIf="showtcltab===true">
                      <p>This is Email Setting</p>
                    </mat-tab>
                    </mat-tab-group>
                   </div>
    
 </div>
</body>