
.checkbox-container{
    display: inline-flex;
    margin: auto;
  width: 100%;
  
  padding: 10px;
  text-align: center;
  }
  .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }


p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}

