<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>
    

<div class="container-fluid" style="text-align: center;">
    <h2 id="heading" style="text-align: center;">Déposer Votre Déclaration Fiscale</h2>
    <div class="container-fluid-disabled">
      <p style="text-align: center;">veuillez cocher pour afficher les sections convenables</p>
    <div id="check1" class="checkbox-container">
      
      <div class="checkbox-container">
        
        <div class="input-container" id="Check1">
          <i class="fa fa-user icon"></i>
          <label for="myCheck1">Ma Déclaration</label>
          <input type="checkbox" id="myCheck1" (click)="myFunction1()">
        </div>
        <div class="input-container" id="Check2">
          <i class="fa fa-user icon"></i>
          <label for="myCheck2">Une Déclaration D'Autrui</label>
          <input type="checkbox" id="myCheck2" (click)="myFunction2()">
        </div>
      </div>
    </div>
   </div>
      <div id="check2" style="display: none;" class="checkbox-container"> 
      
      <div class="checkbox-container">
        
        <div class="input-container" id="Check3">
          <i class="fa fa-user icon"></i>
          <label for="myCheck3">Personne Physique</label>
          <input type="checkbox" id="myCheck3" (click)="myFunction3()">
        </div>
        <div class="input-container" id="Check4">
          <i class="fa fa-user icon"></i>
          <label for="myCheck4">Personne Morale</label>
          <input type="checkbox" id="myCheck4" (click)="myFunction4()">
        </div>
      </div>
    </div> 
           
    <p style="text-align: center;" class="hidden">Veuillez Cochez Le Type De Déclaration Que Vous Souhaitez Faire</p>
                <div class="checkbox-container">
        
                    <div class="input-container" id="Check7"> 
                      <i class="fa fa-user icon"></i>
                      <label for="myCheck7">Déclaration Mensuelle</label>
                      <input type="checkbox" id="myCheck7" (click)="myFunction7()">
                    </div>
                    <div class="hidden" id="Check5">
                        <i class="fa fa-user icon"></i>
                        <label for="myCheck5">Acompte Provisionnelle</label>
                        <input type="checkbox" id="myCheck5" (click)="myFunction5()">
                      </div>
                    <div class="hidden" id="Check6">
                      <i class="fa fa-user icon"></i>
                      <label for="myCheck6">Déclaration Annuelle</label>
                      <input type="checkbox" id="myCheck6" (click)="myFunction6()">
                    </div>
                  </div>

                  <div class="checkbox-container">
                     <div class="input-container" id="Year"> 
                        <i class="glyphicon glyphicon-time"></i>
                        <label for="year">Sélectionner année</label>
                        <select id="year" name="year">
                           <option>year</option>
                           <option value="2022">2022</option>
                           <option disabled value="2023">2023</option>
                           <option disabled value="2024">2024</option>
                           <option disabled value="2025">2025</option>
                           <option disabled value="2026">2026</option>
                           <option disabled value="2027">2027</option>
                           <option disabled value="2028">2028</option>
                           <option disabled value="2029">2029</option>
                           <option disabled value="2030">2030</option>
                           
                       </select>
                      </div>
                      <div class="input-container" id="Month"> 
                        <i class="glyphicon glyphicon-time"></i>
                        <label for="month">Sélectionner mois</label>
                        <select id="month" name="month">
                           <option>month</option>
                           <option value="janvier">(01) janvier</option>
                           <option value="février">(02) février</option>
                           <option value="mars">(03) Mars</option>
                           <option value="avril">(04) avril</option>
                           <option value="peut">(05) Mai</option>
                           <option value="juin">(06) juin</option>
                           <option value="juillet">(07) juillet</option>
                           <option value="août">(08) août</option>
                           <option value="septembre">(09) septembre</option>
                           <option value="octobre">(10) octobre</option>
                           <option value="novembre">(11) novembre</option>
                           <option value="décembre">(12) décembre</option>
                       </select>
                      </div>
                   
                  </div>
                  <div class="checkbox-container">
        
                     <div class="input-container" id="Check8"> 
                       <i class="fa fa-euro icon"></i>
                       <label for="myCheck8">Impôt type 1</label>
                       <input type="checkbox" id="myCheck8" (click)="myFunction8()">
                     </div>
                     <div class="input-container" id="Check9">
                         <i class="fa fa-euro icon"></i>
                         <label for="myCheck9">Impôt type 2</label>
                         <input type="checkbox" id="myCheck9" (click)="myFunction9()">
                       </div>
                     <div class="input-container" id="Check10">
                       <i class="fa fa-euro icon"></i>
                       <label for="myCheck10">Impôt type 3</label>
                       <input type="checkbox" id="myCheck10" (click)="myFunction10()">
                     </div>
                   </div>
    <table class="table table-striped">
       <tbody>
          <tr>
             <td colspan="1">
                
                <form class="well form-horizontal">
                    
                   <fieldset>
                      <div class="form-group" id="fg1">
                         <label class="col-md-4 control-label">Montant1</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                              <input id="fullName" name="fullName" placeholder="Full Name" class="form-control" required="true" value="" type="text"></div>
                         </div>
                      </div>
                      <div class="form-group" id="fg2">
                         <label class="col-md-4 control-label">Montant2</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine1" name="addressLine1" placeholder="Address Line 1" class="form-control" required="true" value="" type="text"></div>
                         </div>
                      </div>
                      <div class="form-group" id="fg3">
                         <label class="col-md-4 control-label">Montant3</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine2" name="addressLine2" placeholder="Address Line 2" class="form-control" required="true" value="" type="text"></div>
                         </div>
                      </div>
                      <div class="form-group" id="fg4">
                         <label class="col-md-4 control-label">Montant4</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="city" name="city" placeholder="City" class="form-control" required="true" value="" type="text"></div>
                         </div>
                      </div>
                      <div class="form-group" id="fg5">
                         <label class="col-md-4 control-label">Montant5</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="state" name="state" placeholder="State/Province/Region" class="form-control" required="true" value="" type="text"></div>
                         </div>
                      </div>
                      <div class="form-group" id="fg6">
                         <label class="col-md-4 control-label">Montant6</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="postcode" name="postcode" placeholder="Postal Code/ZIP" class="form-control" required="true" value="" type="text"></div>
                         </div>
                      </div>
                      <div class="form-group" id="fg7">
                         <label class="col-md-4 control-label">Montant7</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                               <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                               <select class="selectpicker form-control">
                                  <option>A really long option to push the menu over the edget</option>
                               </select>
                            </div>
                         </div>
                      </div>
                      <div class="form-group" id="fg8">
                         <label class="col-md-4 control-label">Montant8</label>
                         <div class="col-md-8 inputGroupContainer">
                            <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input id="email" name="email" placeholder="Email" class="form-control" required="true" value="" type="text"></div>
                         </div>
                      </div>

   
                   </fieldset>
                </form>
             </td>
             <td colspan="1">
                <form class="well form-horizontal">
                  <fieldset>
                     <div class="form-group" id="fg9">
                        <label class="col-md-4 control-label">Montant9</label>
                        <div class="col-md-8 inputGroupContainer">
                           <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                             <input id="fullName" name="fullName" placeholder="Full Name" class="form-control" required="true" value="" type="text"></div>
                        </div>
                     </div>
                     <div class="form-group"id="fg10">
                        <label class="col-md-4 control-label">Montant10</label>
                        <div class="col-md-8 inputGroupContainer">
                           <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine1" name="addressLine1" placeholder="Address Line 1" class="form-control" required="true" value="" type="text"></div>
                        </div>
                     </div>
                     <div class="form-group"id="fg11">
                        <label class="col-md-4 control-label">Montant11</label>
                        <div class="col-md-8 inputGroupContainer">
                           <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="addressLine2" name="addressLine2" placeholder="Address Line 2" class="form-control" required="true" value="" type="text"></div>
                        </div>
                     </div>
                     <div class="form-group"id="fg12">
                        <label class="col-md-4 control-label">Montant12</label>
                        <div class="col-md-8 inputGroupContainer">
                           <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="city" name="city" placeholder="City" class="form-control" required="true" value="" type="text"></div>
                        </div>
                     </div>
                     <div class="form-group"id="fg13">
                        <label class="col-md-4 control-label">Montant13</label>
                        <div class="col-md-8 inputGroupContainer">
                           <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="state" name="state" placeholder="State/Province/Region" class="form-control" required="true" value="" type="text"></div>
                        </div>
                     </div>
                     <div class="form-group"id="fg14">
                        <label class="col-md-4 control-label">Montant14</label>
                        <div class="col-md-8 inputGroupContainer">
                           <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span><input id="postcode" name="postcode" placeholder="Postal Code/ZIP" class="form-control" required="true" value="" type="text"></div>
                        </div>
                     </div>
                     <div class="form-group"id="fg15">
                        <label class="col-md-4 control-label">Montant15</label>
                        <div class="col-md-8 inputGroupContainer">
                           <div class="input-group">
                              <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                              <select class="selectpicker form-control">
                                 <option>A really long option to push the menu over the edget</option>
                              </select>
                           </div>
                        </div>
                     </div>
                     <div class="form-group"id="fg16">
                        <label class="col-md-4 control-label">Montant16</label>
                        <div class="col-md-8 inputGroupContainer">
                           <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span><input id="email" name="email" placeholder="Email" class="form-control" required="true" value="" type="text"></div>
                        </div>
                     </div>

  
                  </fieldset>
                </form>
             </td>
          </tr>
       </tbody>
    </table>
 </div>
</body>