<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>


<body>
    

<div class="container-fluid" style="text-align: center;">
    <h2 id="heading" style="text-align: center;">Déposer Votre Déclaration Fiscale</h2>
    <div class="container-fluid-disabled">
      <p style="text-align: center;">veuillez cocher pour afficher les sections convenables</p>
    <div id="check1" class="checkbox-container">
      
      <div class="checkbox-container">
        
        <div class="input-container" id="Check1">
          <i class="fa fa-user icon"></i>
          <label for="myCheck1">Ma Déclaration</label>
          <input type="checkbox" id="myCheck1" (click)="myFunction1()">
        </div>
        <div class="input-container" id="Check2">
          <i class="fa fa-user icon"></i>
          <label for="myCheck2">Une Déclaration D'Autrui</label>
          <input type="checkbox" id="myCheck2" (click)="myFunction2()">
        </div>
      </div>
    </div>
   </div>
      <div id="check2" style="display: none;" class="checkbox-container"> 
      
      <div class="checkbox-container">
        
        <div class="input-container" id="Check3">
          <i class="fa fa-user icon"></i>
          <label for="myCheck3">Personne Physique</label>
          <input type="checkbox" id="myCheck3" (click)="myFunction3()">
        </div>
        <div class="input-container" id="Check4">
          <i class="fa fa-user icon"></i>
          <label for="myCheck4">Personne Morale</label>
          <input type="checkbox" id="myCheck4" (click)="myFunction4()">
        </div>
      </div>
    </div> 
           
    <p style="text-align: center;" class="hidden">Veuillez Cochez Le Type De Déclaration Que Vous Souhaitez Faire</p>
                <div class="checkbox-container">
        
                    <div class="input-container" id="Check7"> 
                      <i class="fa fa-user icon"></i>
                      <label for="myCheck7">Déclaration Mensuelle</label>
                      <input type="checkbox" id="myCheck7" (click)="myFunction7()">
                    </div>
                    <div class="hidden" id="Check5">
                        <i class="fa fa-user icon"></i>
                        <label for="myCheck5">Acompte Provisionnelle</label>
                        <input type="checkbox" id="myCheck5" (click)="myFunction5()">
                      </div>
                    <div class="hidden" id="Check6">
                      <i class="fa fa-user icon"></i>
                      <label for="myCheck6">Déclaration Annuelle</label>
                      <input type="checkbox" id="myCheck6" (click)="myFunction6()">
                    </div>
                  </div>

                  <div class="checkbox-container" id="datelist">
                     <div class="input-container" id="Year"> 
                        <i class="glyphicon glyphicon-time"></i>
                        <label for="year">Sélectionner année</label>
                        <select id="year" name="year">
                           <option>year</option>
                           <option value="2022">2022</option>
                           <option disabled value="2023">2023</option>
                           <option disabled value="2024">2024</option>
                           <option disabled value="2025">2025</option>
                           <option disabled value="2026">2026</option>
                           <option disabled value="2027">2027</option>
                           <option disabled value="2028">2028</option>
                           <option disabled value="2029">2029</option>
                           <option disabled value="2030">2030</option>
                           
                       </select>
                      </div>
                      <div class="input-container" id="Month"> 
                        <i class="glyphicon glyphicon-time"></i>
                        <label for="month">Sélectionner mois</label>
                        <select id="month" name="month">
                           <option>month</option>
                           <option value="janvier">(01) janvier</option>
                           <option value="février">(02) février</option>
                           <option value="mars">(03) Mars</option>
                           <option value="avril">(04) avril</option>
                           <option value="peut">(05) Mai</option>
                           <option value="juin">(06) juin</option>
                           <option value="juillet">(07) juillet</option>
                           <option value="août">(08) août</option>
                           <option value="septembre">(09) septembre</option>
                           <option value="octobre">(10) octobre</option>
                           <option value="novembre">(11) novembre</option>
                           <option value="décembre">(12) décembre</option>
                       </select>
                      </div>
                   
                  </div>

                  <table class="table table-striped">
                    
                    <tbody>
                    <tr id="impotlist">
                     <td> <div class="input-container" id="Check8"> 
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck8">Retenue à la source</label>
                      <input type="checkbox" id="myCheck8" (click)="myFunction8()">
                    </div>
                  </td>
                  <td>
                    <div class="input-container" id="Check9">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck9">TFP</label>
                      <input type="checkbox" id="myCheck9" (click)="myFunction9()">
                    </div>
                  </td>
                  <td>
                    <div class="input-container" id="Check10">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck10">Foprolos</label>
                      <input type="checkbox" id="myCheck10" (click)="myFunction10()">
                    </div>
                  </td>
                  <td>
                    <div class="input-container" id="Check11">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck11">TVA</label>
                      <input type="checkbox" id="myCheck11" (click)="myFunction11()">
                    </div>
                  </td>
                  <td>
                    <div class="input-container" id="Check12">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck12">Droit de timbre</label>
                      <input type="checkbox" id="myCheck12" (click)="myFunction12()">
                    </div>
                  </td>
                  </tr>
                  <tr id="retenuelist">
                   <td>
                    <div class="input-container" id="Check13"> 
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck13">Traitement et salaires</label>
                      <input type="checkbox" id="myCheck13" (click)="myFunction13()">
                    </div>
                   </td>
                   <td>
                    <div class="input-container" id="Check14">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck14">Location, Commission, Courtage et vacation</label>
                      <input type="checkbox" id="myCheck14" (click)="myFunction14()">
                    </div>
                   </td>
                   <td>
                    <div class="input-container" id="Check15">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck15">Honoraire</label>
                      <input type="checkbox" id="myCheck15" (click)="myFunction15()">
                    </div>
                   </td>
                   <td>
                    <div class="input-container" id="Check16">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck16">Montant Supérieur à 1000dt</label>
                      <input type="checkbox" id="myCheck16" (click)="myFunction16()">
                    </div>
                   </td>
                   <td>
                    <div class="input-container" id="Check17">
                      <i class="fa fa-euro icon"></i>
                      <label for="myCheck17">Autre</label>
                      <input type="checkbox" id="myCheck17" (click)="myFunction17()">
                    </div>
                   </td>


                  </tr>
                    </tbody>
                  </table>

                   <hr>
    <table class="table table-striped" id="ammounttable">
       <tbody>
          <tr>
             <td colspan="1">
               <form [formGroup]="traitementsalaireform" class="well form-horizontal" (ngSubmit)="logValue1()" id="traitementsalform">
                <form [formGroup]="standardtraitementsalaireform" class="well form-horizontal" id="standardtraitementsalaireform">
                <div class="row">
                  <div class="col-6">
                      <div class="form-group">
                          <label>Salaire Brut</label>
                          <input type="number" class="form-control" formControlName="brutsalary" placeholder="Indiquer Salaire Brute"/>
                        </div>
                  </div>
                  <div class="col-6">
                      <div class="form-group">
                          <label>Salaire Imposable</label>
                          <input type="number" class="form-control" formControlName="imposalary" placeholder="Saisir le montant"/>
                        </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                        <label>Retenue à la source</label>
                        <input type="text" class="form-control" formControlName="retenuesalary" placeholder="décrivez Ce Montant"/>
                      </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                      <label>Contribution sociale de solidarité</label>
                      <input type="text" class="form-control" formControlName="solidaritycontribution" placeholder="décrivez Ce Montant"/>
                    </div>
              </div>
              <div title="indiquer votre sous-activité"class="col-6">
                <div class="form-group">
                <label for="underactivity"> Avez vous d'autres retenues à la source à déclarer:</label>    
                
            <select  class="input-field" placeholder="Entrer Votre Sous-Activité" id="underactivity" [(ngModel)]="optionValue"formControlName="choice" name="choice" >
            <option value="Oui"><a routerLink="#retenuelist">Oui</a></option>
            <option value="Non">Non</option>
            
            </select>
          </div>
          <div class="hidden"id="selectunderactivity"*ngIf="optionValue == 'Oui'">
            <a href="declare-fiscality/#retenuelist">Ajouter Autre types de retenues à la source</a>
          </div>
            </div>
                </div>
              </form>
                <div class="hidden">
                     <button type="button" class="btn btn-primary btn-sm" (click)="addammount1()">Ajouter Rubrique</button>
                    </div> 
                     <fieldset formArrayName="ammounts1" 
                        *ngFor="let ammount of ammountControls1; let i = index;" class="hidden">
                        <div [formGroupName]="i">
                          <div class="row">
                            <div class="col-6">
                                <textarea class="center" rows="1" cols="50" style="resize:none;text-align: center;background-color: lightgrey;" 
                                placeholder="veuillez renseigner l'intitulé de la rubrique"></textarea>
                            </div>
                            <div class="col-6 text-right">
                                <button type="button" class="btn btn-danger btn-sm" (click)="removeammount1(i)">Supprimer Rubrique</button>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Salaire Brut</label>
                                    <input type="number" class="form-control" formControlName="brutsalary" placeholder="Indiquer Salaire Brute"/>
                                  </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Salaire Imposable</label>
                                    <input type="number" class="form-control" formControlName="imposalary" placeholder="Saisir le montant"/>
                                  </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group">
                                  <label>Retenue à la source</label>
                                  <input type="text" class="form-control" formControlName="retenuesalary" placeholder="décrivez Ce Montant"/>
                                </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                                <label>Contribution sociale de solidarité</label>
                                <input type="text" class="form-control" formControlName="solidaritycontribution" placeholder="décrivez Ce Montant"/>
                              </div>
                        </div>
                        
                          </div>
                          
                         
                        </div>
                    
                      </fieldset>
                
                      <div class="text-right">
                          <input type="submit" class="btn btn-success" value="Valider déclaration"/>
                      </div>
                      
                   
                  
                
                </form>
                
               
             </td>
             
             <td colspan="2">
              <form [formGroup]="impotform2" class="well form-horizontal" (ngSubmit)="logValue2()" id="form2">
                 
                   
                    <button type="button" class="btn btn-primary mb-2" (click)="addammount2()">Ajouter Montant</button>
                     <fieldset formArrayName="ammounts2" 
                       *ngFor="let ammount of ammountControls2; let i = index;">
                       <div [formGroupName]="i">
                         <div class="row">
                           <div class="col-6">
                               <h4>Montant {{i + 1}}</h4>
                           </div>
                           <div class="col-6 text-right">
                               <button type="button" class="btn btn-danger btn-sm" (click)="removeammount2(i)">Supprimer Montant</button>
                           </div>
                         </div>
                         <div class="row">
                          <div class="col-6">
                              <div class="form-group">
                                  <label>Salaire Brut</label>
                                  <input type="number" class="form-control" formControlName="brutsalary" placeholder="Indiquer Salaire Brute"/>
                                </div>
                          </div>
                          <div class="col-6">
                              <div class="form-group">
                                  <label>Salaire Imposable</label>
                                  <input type="number" class="form-control" formControlName="imposalary" placeholder="Saisir le montant"/>
                                </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                                <label>Retenue à la source</label>
                                <input type="text" class="form-control" formControlName="retenuesalary" placeholder="décrivez Ce Montant"/>
                              </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                              <label>Contribution sociale de solidarité</label>
                              <input type="text" class="form-control" formControlName="solidaritycontribution" placeholder="décrivez Ce Montant"/>
                            </div>
                      </div>
                      
                        </div>
                         
                        
                       </div>
                   
                     </fieldset>
               
                     <div class="text-right">
                         <input type="submit" class="btn btn-success" value="Submit"/>
                     </div>
                     
                  
                 
               
               </form>
               
              
            </td>    
          </tr>
       </tbody>
    </table>
 </div>
</body>