

  <body>

    <h2>Informations générales</h2>
    
    <div class="card">
      <img src="../../assets/img_avatar.png" *ngIf="user.civilite=='Monsieur'" else alt="Avatar" style="width:30% ;height:30%">
      <img src="../../assets/img_avatar2.png" *ngIf="user.civilite!='Monsieur'" alt="Avatar" style="width:30% ;height:30%">
      <div class="container">
        <h4>{{ user.civilite }} <b>{{ user.firstname }} {{ user.lastname }}</b></h4> 
        <p>{{ user.fonction }}</p> 
        <p>{{ user.raisonsociale }}</p>
        <p>{{ user.secteur }}</p>
        <p>{{ user.nomsociete }}</p>
        <p>{{ user.email }}</p>
        <h5>{{ user.clientcode }}</h5>
      </div>
      <button type="button" class="btn btn-warning" (click)="getNavigation('modify-user', user.userId)">Modifier données utilisateur</button>
      <button type="button" class="btn btn-success" *ngIf="currentUser.role=='admin'" (click)="getNavigation('modify-user-admin', user._id)">Modifier données utilisateur (Admin)</button>
      
    </div>
    
    </body>
