<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
  

<div class="bodycontainer">
  <div id="loader" *ngIf="loading"></div>
  
<div class="container-fluid" *ngIf="!loading&&role=='admin'">
   
  
<form  [formGroup]="condidateForm">
    <h2>Formulaire De Décision Du Sort Des Candidatures(admin)</h2>
   
    
    

      <div title="indiquer votre décision"class="input-container">
        <i class="fa fa-user icon"></i>
        <select  class="form-control btn-block" placeholder="Entrer Votre décision" id="fiscalimpot" id="decision" formControlName="decision" >
          <option value="default"> </option>
          <option *ngFor="let statut of status" [value]="statut">
              {{statut}}
          </option>
        </select>      
      </div> 
      <div title="indiquer votre motif"class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="Indiquer votre motif" id="motif" formControlName="motif">
      </div> 
     
    
  
    <button class="btn btn-success" (click)="onSubmit()">Envoyer Modification</button>
  </form>
  <p>{{ errormsg }}</p>
  <div class="alert alert-success" *ngIf="isSuccessful">
    Modificaion effectuée avec succès!!
  </div>
</div>
<div class="container-fluid" *ngIf="role=='supervisor'&&!loading||currentuser._id=='62e666d00bd8a70a2fdd312e'&&!loading">
   
  
  <form  [formGroup]="condidateForm">
      <h2>Formulaire De Décision Du Sort Des Candidatures(collab)</h2>
     
      
      
  
        <div title="indiquer votre décision"class="input-container">
          <i class="fa fa-user icon"></i>
          <select  class="form-control btn-block" placeholder="Entrer Votre décision" id="fiscalimpot" id="decisioncoll" formControlName="decisioncoll" >
            <option value="default"> </option>
            <option *ngFor="let statut of status" [value]="statut">
                {{statut}}
            </option>
          </select>      
        </div> 
        <div title="indiquer votre motif"class="input-container">
          <i class="fa fa-user icon"></i>
          <input class="input-field" type="text" placeholder="Indiquer votre motif" id="motifcoll" formControlName="motifcoll">
        </div> 
       
      
    
      <button class="btn btn-success" (click)="onSubmitcoll()">Envoyer Modification</button>
    </form>
    <p>{{ errormsg }}</p>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Modificaion effectuée avec succès!!
    </div>
  </div>
</div>
</body>