<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
  

<div class="container-fluid">
  <div id="loader" *ngIf="loading"></div>
  
<div class="container-fluid" *ngIf="!loading"> 
   
  
<form  [formGroup]="userForm">
    <h2>Formulaire De Modification Des Données Utilisateurs</h2>
    
    
    
    
    <div class="input-container" id="input1"title="indiquer votre civilité" >
        
        <label for="civilite"> Civilite:</label>
        <div class="gender_icon"><i class="fa fa-male" ></i> <i class="fa fa-female"></i></div>
  <select  class="input-field" placeholder="Entrer Votre Nom" id="civilite" formControlName="civilite" name="civilite" >
    <option hidden >Modifier Votre Civilité</option>
    <option value="Monsieur">Monsieur</option>
    <option value="Madame">Madame</option>
    <option value="Mademoiselle">Mademoiselle</option>
  </select>
    </div>

    <div title="indiquer votre nom"class="input-container"  id="input2">
      <label for="civilite"> Nom:</label>
      <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="Modifier Votre Nom" id="lastname" formControlName="lastname" name="lastname">
      </div>

      <div title="indiquer votre prenom"class="input-container"  id=input3>
        <label for="civilite"> Prenom:</label>
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="Modifier Votre Prenom" id="firstname" formControlName="firstname">
      </div> 
      <div class="mobile-container"  id="input4">
        <div class="input-container">
          <label for="civilite"> Numéro Mobile:</label>
          <i class="fa fa-phone icon"></i>
          <input class="input-field" type="text" placeholder="Entrez Votre Numéro Mobile" id="mobile" formControlName="mobile" >
        </div>
        <div class="hidden">
          <label for="civilite"> Confirmer Numéro Mobile:</label>
          <i class="fa fa-phone icon"></i>
          <input class="input-field" type="text" placeholder="Confirmez Votre Numéro Mobile" id="confirmmobile" formControlName="confirmmobile" >
        </div>
      </div>
      <div title="indiquer votre nature d'activité"class="input-container"id="idactivitynature">
        <label for="activitynature"> Nature D'activité:</label>
        <i class="fa fa-fort-awesome icon"></i>
  <select  class="input-field"  placeholder="Entrer Votre Nature Activité" id="activitynature" [(ngModel)]="optionValue"formControlName="activitynature" name="activitynature" >
    <option hidden [value]="currentuser.natureactivite">{{currentuser.natureactivite}}</option>
    <option value="Profession Libérale">Profession Libérale</option>
    <option disabled value="Commerçant">Commerçant</option>
    <option disabled value="Artisan">Artisan</option>
    <option disabled value="Salarié ou Pensionnaire">Salarié ou Pensionnaire</option>
    <option value="Autre">Autre</option>
  </select>
    </div>
    <div class="input-container"id="selectactivitynature"*ngIf="optionValue == 'Autre'">
      <label for="activitynature"> Nature D'activité:</label>
      <i class="fa fa-fort-awesome icon"></i>
      <input class="input-field" type="text" placeholder="Renseigner votre nature d'activité" id="selectactivitynature" formControlName="selectactivitynature">
    </div>
    <div title="indiquer votre activité"class="input-container" id="idactivity">
      <label for="activity"> Activité:</label> 
      <i class="fa fa-fort-awesome icon"></i>
<select  class="input-field" placeholder="Entrer Votre Activité" id="activity" style="width: 150px;" [(ngModel)]="option1Value"formControlName="activity" name="activity" >
  <option hidden [value]="currentuser.activite">{{currentuser.activite}}</option>
  <option value="Médecin">Médecin</option>
  <option value="Avocat">Avocat</option>
  <option disabled value="Ingénieur">Ingénieur</option>
  <option disabled value="Architechte">Architechte</option>
  <option value="Autre">Autre</option>
</select>
<label for="activity"style="min-width: 30px;width: 30px"> CIF:</label> 
<div class="col-6">
  <input type="file"  #filePicker (change)="onImagePick($event)" class="form-control" accept="application/pdf">
  <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
</div>
  </div>
  <div class="input-container"id="selectactivity"*ngIf="option1Value == 'Autre'">
    <label for="activity"> Activité:</label>
    <i class="fa fa-fort-awesome icon"></i>
    <input class="input-field" type="text" placeholder="Renseigner votre activité" id="selectactivity" formControlName="selectactivity">
  </div>
  <div title="indiquer votre sous-activité"class="input-container"id="idunderactivity">
    <label for="underactivity"> Sous-Activité:</label>   
    <i class="fa fa-fort-awesome icon"></i>
<select  class="input-field" placeholder="Entrer Votre Sous-Activité" id="underactivity" [(ngModel)]="option2Value"formControlName="underactivity" name="underactivity" >
  <option hidden [value]="currentuser.sousactivite">{{currentuser.sousactivite}}</option>

<option value="Avocat">Avocat</option>
<option value="Avocat à la cour d'appel">Avocat à la cour d'appel</option>
<option value="Avocat à la cour de cassation">Avocat à la cour de cassation</option>
<option value="Autre">Autre</option>
</select>
</div>
<div class="input-container"id="selectunderactivity"*ngIf="option2Value == 'Autre'">
  <label for="underactivity"> Sous-Activité:</label>
  <i class="fa fa-fort-awesome icon"></i>
  <input class="input-field" type="text" placeholder="Renseigner votre Sous-Activité" id="selectunderactivity" formControlName="selectunderactivity">
</div>
<div title="indiquer votre régime fiscal en matières d'impôts directs"class="input-container"id="idfiscalimpot">
  <label for="fiscalimpot"> Régime Fiscal En Matières D'impôts Directs:</label>     
  <i class="fa fa-fort-awesome icon"></i>
<select  class="input-field" placeholder="Entrer Votre régime fiscal en matières d'impôts directs" id="fiscalimpot" [(ngModel)]="option3Value"formControlName="fiscalimpot" name="fiscalimpot" >
  <option hidden [value]="currentuser.regimefiscalimpot">{{currentuser.regimefiscalimpot}}</option>


<option value="Réel">Réel</option>
<option value="Forfait D'assiette">Forfait D'assiette</option>
<option hidden value="Autre">Autre</option>
</select>
</div>
<div class="input-container"id="selectfiscalimpot"*ngIf="option3Value == 'Autre'">
  <label for="fiscalimpot"> Régime Fiscal En Matières D'impôts Directs:</label>
  <i class="fa fa-fort-awesome icon"></i>
  <input class="input-field" type="text" placeholder="Renseigner régime fiscal en matières d'impôts directs" id="selectfiscalimpot" formControlName="selectfiscalimpot">
</div>
<div class="input-container" id="idfiscaltvaassobli">
  <label for="fiscaltvaassobli"> Régime Fiscal En Matières D'impôts TVA:</label>
  <i class="fa fa-fort-awesome icon"></i>
  <input class="input-field" type="text" placeholder="Modifier Votre régime fiscal en matières de TVA" id="fiscaltvaassobli" formControlName="fiscaltvaassobli">
</div>
<div *ngIf="submitted && f.fiscalmat.errors" class="invalid-feedback" style="color:red;float: right;">
  <div *ngIf="f.fiscalmat.errors.pattern">Veuillez saisir les 7 premiers chiffres</div>
  <div *ngIf="f.fiscalmat.errors.length">Saisissez uniquement 7 lettres</div>
  <div *ngIf="f.fiscalmat.errors.required">1ère partie obligatoire</div>
</div>
<hr>
<div *ngIf="submitted && f.fiscalmatletter.errors" class="invalid-feedback" style="color:red;float: right;">
  <div *ngIf="f.fiscalmatletter.errors.pattern">veuillez saisir la lettre qui suit les chiffres</div>
  <div *ngIf="f.fiscalmatletter.errors.length">Saisissez uniquement 1 lettre</div>
  <div *ngIf="f.fiscalmatletter.errors.required">2ème partie obligatoire</div>
</div>
<hr>
<div *ngIf="submitted && f.fiscalmatnumbers.errors" class="invalid-feedback" style="color:red;float: right;">
  <div *ngIf="f.fiscalmatnumbers.errors.pattern">veuillez saisir les 3 derniers chiffres</div>
  <div *ngIf="f.fiscalmatnumbers.errors.length">Saisissez uniquement 3 chiffres</div>
  <div *ngIf="f.fiscalmatnumbers.errors.required">3ème partie obligatoire</div>
</div>
<div class="input-container-disabled"id="idfiscalmat">
  <label for="fiscalmat"> Matricule Fiscale:</label>
  <i class="fa fa-fort-awesome icon"></i>
  <input class="input-field" style="width: 25%;"type="text"  id="fiscalmat" formControlName="fiscalmat"
  [ngClass]="{ 'is-invalid': submitted && f.fiscalmat.errors }">
  
  <input class="input-field" style="width: 25%;" type="text"  id="fiscalmatletter" formControlName="fiscalmatletter"
  [ngClass]="{ 'is-invalid': submitted && f.fiscalmatletter.errors }">
  <p>/</p>
  <input class="input-field" type="text" style="width: 12%;" id="fiscalmatinchanged" formControlName="fiscalmatinchanged"
  [ngClass]="{ 'is-invalid': submitted && f.fiscalmatinchanged.errors }">
  <p>/</p>
  <input class="input-field" type="text" style="width: 12%;" id="fiscalmatinchanged2" formControlName="fiscalmatinchanged2"
  [ngClass]="{ 'is-invalid': submitted && f.fiscalmatinchanged2.errors }">
  <p>/</p>
  <input class="input-field" type="text" style="width: 25%;" id="fiscalmatnumbers" formControlName="fiscalmatnumbers"
  [ngClass]="{ 'is-invalid': submitted && f.fiscalmatnumbers.errors }" default='000'>
</div>
<div *ngIf="submitted && f.codepostal.errors" class="invalid-feedback" style="color:red;float: right;">
  
  <div>Code Postal en 4 caractères</div>
  
</div>
<div class="input-container-disabled"id="idfiscalmat">
  <label for="codepostal"> Code Postal:</label>
  <i class="fa fa-fort-awesome icon"></i>
  <input class="input-field" type="text" (keypress)="keyPressNumbers($event)" placeholder="Modifier Votre Code Postal" 
  [ngClass]="{ 'is-invalid': submitted && f.codepostal.errors }"id="codepostal" formControlName="codepostal">
  
</div>
<div class="input-container-disabled"id="idfiscalmat">
  <label for="adresse"> Adresse Activité:</label>
  <i class="fa fa-fort-awesome icon"></i>
  <input class="input-field" type="text" placeholder="Modifier Votre Adresse d'activité" id="adresseactivite" formControlName="adresseactivite">
</div>
      <div title="indiquer votre raisonsociale"class="input-container">
        <label for="fiscalmat"> Raison Sociale:</label>
        <i class="fa fa-fort-awesome icon"></i>
        <input class="input-field" type="text" placeholder="Modifier Votre Raison Sociale" id="raisonsociale" formControlName="raisonsociale">
      </div>  

      <div title="indiquer votre fonction"class="input-container" id="input5">
        <label for="fiscalmat"> Fonction:</label>
        <i class="fa fa-fort-awesome icon" ></i>
      <input class="input-field" type="text" [(ngModel)]="codeValue" placeholder="Fonction actuelle:{{currentuser.fonction}}"id="fonction" formControlName="fonction" name="fonction" list="fonctions" />
  <datalist id="fonctions">
  <option *ngFor="let user of users" [value]="user.fonction" >{{currentuser.fonction}}</option>
  </datalist>
      
    </div>


    <div title="indiquer votre nomsociete"class="input-container" id="input6">
      <label for="fiscalmat"> Nom Societe:</label>  
      <i class="fa fa-fort-awesome icon"></i>
        <input class="input-field" type="text" placeholder="Modifier Nom Societe" id="nomsociete" formControlName="nomsociete">
      </div>


      <div title="indiquer votre secteur"class="input-container" id="input7">
        <label for="fiscalmat"> Secteur:</label>
        <i class="fa fa-fort-awesome icon" ></i> 
       
  
    <input class="input-field" type="text" [(ngModel)]="secteurValue" placeholder="Secteur Actuel:{{currentuser.secteur}}"id="secteur" formControlName="secteur" name="secteur" list="secteurs" />
  <datalist id="secteurs">
  <option *ngFor="let user of users" [value]="user.secteur" ></option>
  </datalist>
    </div>
    <div title="indiquer votre clientcode"class="input-container" id="input8">
      <label for="fiscalmat"> Code Client:</label>
      <i class="fa fa-user icon"></i>
      <input class="input-field" type="text" placeholder="code client" id="clientcode" formControlName="clientcode">
    </div>

    <div class="email-container" id="input9">
      <div class="input-container">
        <label for="fiscalmat"> Email:</label>
        <i class="fa fa-envelope icon"></i>
        <input class="input-field" type="email" placeholder="Entrez Votre Email" id="email" formControlName="email" >
      </div>
      <div class="hidden">
        <label for="fiscalmat"> Confirmer Email:</label>
        <i class="fa fa-envelope icon"></i>
        <input class="input-field" type="email" placeholder="Confirmez Votre Email" id="confirmemail" formControlName="confirmemail" >
      </div>
    </div>
    
    <div title="Modifier votre Mot de passe"class="input-container" id="input10">
      <label for="fiscalmat"> Mot De Passe:</label>
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="Modifier votre Mot de passe" id="password" formControlName="password">
    </div>
    <div title="Confirmer votre Mot de passe"class="input-container" id="input11">
      <label for="fiscalmat"> Confirmer Mot De Passe:</label>
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="confirmer votre Mot de passe" id="confirmpassword" formControlName="confirmpassword">
    </div>
    
  
    <button class="btn btn-success" (click)="onSubmit()" id="input12">Envoyer Modification </button>
  </form>
  <p>{{ errormsg }}</p>
  <div class="alert alert-success" *ngIf="isSuccessful">
    Modificaion effectuée avec succès!!
  </div>
</div>
</div>
</body>