 @media screen and (max-width: 1200px) {
    .left {   
      flex-direction: column;
    }
  }
  #routoutlet
  {
    margin-top: 140px;
    min-height: 800px;
    z-index: -1;
  }
 app-header
 {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
 } 
  