.left{
    display: flex;
    
    
}
.side {
    flex: 30%;
    background-color: lightgray;
    min-width: 190px;
    min-height: 500px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    min-height: 500px;
    padding: 20px;
    overflow-x: hidden;
  }
  @media screen and (max-width: 1200px) {
    .left {   
      flex-direction: column;
    }
  }
  