
<body>
    <div class="container-xl">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="contact-form">
                    <h1>Déposer votre candidature</h1>
                    <p class="hint-text">Nous sommes dans l'attente d'excellents profils pour intégrer notre équipe</p>
                    <form [formGroup]="condidateform">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstname">Prénom</label>
                                    <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="entrer votre prenom" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastname">Nom</label>
                                    <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="entrer votre nom"required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="mobile">Mobile</label>
                                    <input type="text" class="form-control" id="mobile" formControlName="mobile" placeholder="entrer votre mobile" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="confirmmobile">Confirmer Mobile</label>
                                    <input type="text" class="form-control" id="confirmmobile" formControlName="confirmmobile" placeholder="confimer votre mobile"required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" class="form-control" id="inputEmail" formControlName="email" placeholder="entrer votre email"required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputConfirmEmail">Confirmer Email</label>
                                    <input type="email" class="form-control" id="inputConfirmEmail" formControlName="confirmemail" placeholder="confimer votre email"required>
                                </div>
                            </div>
                        </div>                
                        <div class="form-group">
                            <label for="inputAdresse">Adresse</label>
                            <input type="text" class="form-control" id="inputAdresse" formControlName="adresse" placeholder="entrer votre adresse"required>
                        </div>
                        <div class="form-group">
                        
    <input type="file"  #filePicker (change)="onImagePick($event)"  class="form-control" accept="application/pdf">
    <div class="image-preview" *ngIf="imagePreview">
      <img [src]="imagePreview" alt="">
    </div>
    <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
</div>
                        <div class="form-group">
                            <label for="inputMessage">Exprimez vous</label>
                            <textarea class="form-control" id="inputMessage" rows="10" formControlName="description" placeholder="Présentez vous brièvement"required></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" (click)="onSubmit()"value="Envoyer candidature">
                        <p class="text-success" >{{successmessage}}!</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>