.panel-heading{
    text-align: center;
}
.jumbotron{
    background-image:url("../../assets/cabinet_virtuel_background.jpg");
    background-position: center center;
    color: white; 
    margin: 0;
}
#intro{
    border-radius: 25px;
  
  padding: 20px; 
   
}
 
