

  <body>

    <h2>Informations générales</h2>
    
    <div class="card"*ngIf="contact">
      
      <div class="container-fluid">
        <h4 >Données Réclamation:</h4><hr>
        <h4>Crée le(heure GMT):<b>  {{ contact.created }}</b></h4>
        <h4>Dernière modification  le(heure GMT):<b>  {{ contact.updated }}</b></h4>
        <h4>Nom et Prénom:<b>  {{ contact.firstname }} {{ contact.lastname }}</b></h4> 
        <h4>Mobile:<b>  {{ contact.mobile }}</b></h4>
        <h4>Fichier Joint:<b><a href="{{contact.ficheUrl}}" target="_blank">Aperçu Fiche</a></b></h4>
        <h4>
          <table>
            <thead>
              <tr *ngIf="contact.dateouverturedossier&&currentUser.role=='admin'||contact.dateouverturedossier&&currentUser.role=='supervisor'"><th>date ouverture dossier:</th><td>{{contact.dateouverturedossier|customDate}}</td></tr> 
              <tr *ngIf="contact.affecte&&currentUser.role=='admin'||contact.affecte&&currentUser.role=='supervisor'"><th>Collaborateur affecté:</th><td>{{filterusers(contact.affecte)}}{{prenomcollab}}&nbsp;{{nomcollab}}</td></tr> 
              <tr *ngIf="currentUser.role=='admin'||currentUser.role=='supervisor'"><th>durée de traitement:</th><td>{{countdown}}</td></tr> 
              <tr>
                <th  style="text-align: center;">Statuts:</th>
                <th  style="text-align: center;">Motifs:</th> 
                <th  style="text-align: center;">date traitement:</th>
                <th  style="text-align: center;">durée cumulée de traitement:</th>
                <th  style="text-align: center;">traité par:</th>
          
              </tr>  
              </thead>
                <tbody>
                  <tr *ngFor="let statut of sortedallstatuts">
                    <td  style="text-align: center;"> <span *ngIf="statut.statut">{{statut.statut}}</span><span *ngIf="statut.statutcoll">{{statut.statutcoll}}</span> </td>
                    <td  style="text-align: center;"> <span *ngIf="statut.statut">{{statut.motif}}</span><span *ngIf="statut.statutcoll">{{statut.motifcoll}}</span></td>
                    <td  style="text-align: center;"> {{statut.datefin| customDate}}</td>
                    <td  style="text-align: center;"> {{statut.duree}}</td>
                    <td  style="text-align: center;"><span *ngIf="statut.statut">Admin</span><span *ngIf="statut.statutcoll">Collaborateur</span></td>
                  </tr>
                </tbody> 
            </table>
          </h4>
          <h4>Description:<b>  {{ contact.description }}</b></h4>
      </div>
      
      <tr style="display: flex"><button type="button" class="btn btn-success" *ngIf="currentUser.role=='admin'" (click)="affect()"> <span *ngIf="!contact.affecte">Affecter collaborateur(Admin)</span> <span *ngIf="contact.affecte">Réaffecter collaborateur(Admin)</span></button><span><select #cricket [(ngModel)]="optionValue"*ngIf="currentUser.role=='admin'">
        <option value="default"> </option>
        <option *ngFor="let col of collab" [value]="col._id">
            {{col.firstname}} {{col.lastname}}
        </option>
      </select></span></tr>
      <tr><button type="button" class="btn btn-success" *ngIf="currentUser.role=='admin'" (click)="decideadmin()">Modifier Statut Réclamation (Admin)</button></tr>
      <tr><button type="button" class="btn btn-success" *ngIf="currentUser.role=='supervisor'||currentUser.rolesuperviseur=='Autorisé'" (click)="traite()">Marquer comme traité (Collaborateur)</button></tr>
      <tr><button type="button" class="btn btn-danger"(click)="onDelete()"*ngIf="currentUser.role=='admin'">supprimer candidature</button></tr>
      <tr *ngIf="currentUser.role=='admin'"><label for="underactivity"> Gérer les statuts:</label>
        <span><select #cricket (change)="update($event)">
          <option value="default"> </option>
          <option (click)="deletestatutcollab()">supprimer le dernier statut collaborateur</option>
          <option (click)="deletestatutadmin()">supprimer le dernier statut admin</option>
        </select></span></tr>

    </div>
    
    </body>
