<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
  

<div class="bodycontainer">
  <div id="loader" *ngIf="loading"></div>
  
<div class="container" *ngIf="!loading">
   
  
<form  [formGroup]="signupForm" *ngIf="!isSuccessful"
name="form"
(ngSubmit)="signupform.valid && onSubmit()"

novalidate>
    <h2>Formulaire D'inscription</h2>
    <div title="indiquer votre type utilisateur" class="input-container">
      <div class="gender_icon"><i class="fa fa-male" ></i> <i class="fa fa-female"></i></div>
     
<select  class="input-field"  placeholder="Entrer Votre Type Utilisateur"id="usertype" formControlName="usertype" name="usertype" >
  <option hidden >Entrer Votre Type Utilisateur</option>
  <option value="Client">Client</option>
  <option value="Collaborateur">Collaborateur</option>
  <option value="Candidat">Candidat</option>
</select>
  </div>
   
    <div title="indiquer votre civilité" class="input-container">
        <div class="gender_icon"><i class="fa fa-male" ></i> <i class="fa fa-female"></i></div>
       
  <select  class="input-field" placeholder="Entrer Votre civilite" id="civilite" formControlName="civilite" name="civilite" >
    <option hidden >Entrer Votre Civilité</option>
    <option value="Monsieur">Monsieur</option>
    <option value="Madame">Madame</option>
    <option value="Mademoiselle">Mademoiselle</option>
  </select>
    </div>

    <div title="indiquer votre nom"class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="Entrer Votre Nom" id="lastname" formControlName="lastname" name="lastname">
      </div>

      <div title="indiquer votre prenom"class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="Entrer Votre Prenom" id="firstname" formControlName="firstname"name="firstname">
      </div> 

       
      <div title="indiquer votre raisonsociale"class="input-container-disabled">
        <i class="fa fa-fort-awesome icon"></i>
        <input class="input-field" type="text" placeholder="Entrer Votre Raison Sociale" id="raisonsociale" formControlName="raisonsociale">
      </div>

      <div title="indiquer votre fonction"class="input-container-disabled">
        <i class="fa fa-fort-awesome icon" ></i> 
        <input class="input-field" type="text" placeholder="Entrer Votre Fonction" id="fonction" formControlName="fonction">
    </div>


    <div title="indiquer votre nomsociete"class="input-container-disabled">
        <i class="fa fa-fort-awesome icon"></i>
        <input class="input-field" type="text" placeholder="Entrer Nom Societe" id="nomsociete" formControlName="nomsociete">
      </div>


    <div title="indiquer votre secteur"class="input-container-disabled">
        <i class="fa fa-fort-awesome icon" ></i> 
        <input class="input-field" type="text" placeholder="Entrer Votre Secteur" id="secteur" formControlName="secteur">    
  
    </div>
    <div title="indiquer votre clientcode"class="input-container">
      <i class="fa fa-user icon"></i>
      <input class="input-field" type="text" placeholder="code client" id="clientcode" formControlName="clientcode">
    </div>
    <div class="mobile-container">
      <div class="input-container">
        <i class="fa fa-phone icon"></i>
        <input class="input-field" type="text" placeholder="Entrez Votre Numéro Mobile" id="mobile" formControlName="mobile" required>
      </div>
      <div class="input-container">
        <i class="fa fa-phone icon"></i>
        <input class="input-field" type="text" placeholder="Confirmez Votre Numéro Mobile" id="confirmmobile" formControlName="confirmmobile" required>
      </div>
    </div>
<div class="email-container">
    <div class="input-container">
      <i class="fa fa-envelope icon"></i>
      <input class="input-field" type="email" placeholder="Entrez Votre Email" id="email" formControlName="email" required>
    </div>
    <div class="input-container">
      <i class="fa fa-envelope icon"></i>
      <input class="input-field" type="email" placeholder="Confirmez Votre Email" id="confirmemail" formControlName="confirmemail" required>
    </div>
  </div>
  <div class="password-container">
    <div class="input-container">
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="Entrez Votre Mot De Passe" id="password" formControlName="password" required>
    </div>
    <div class="input-container">
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="Confirmez Votre Mot De Passe" id="confirmpassword" formControlName="confirmpassword" required>
    </div>
  </div>
    <button class="btn btn-success" (click)="onSignup()" [disabled]="signupForm.invalid">Inscription</button>
  </form>
  <p>{{ errorMessage }}</p>
  <div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
  </div>
</div>
</div>
</body>