<fieldset>
    <legend>Choix de l'année et du mois</legend>
    <div class="checkbox-container" id="datelist">
        <div class="input-container" id="Year"> 
           <i class="glyphicon glyphicon-time"></i>
           <label for="year">Sélectionner année</label>
           <select id="year" name="year"[(ngModel)]="option1Value">
              <option>Année</option>
              <option value="2022">2022</option>
              <option disabled value="2023">2023</option>
              <option disabled value="2024">2024</option>
              <option disabled value="2025">2025</option>
              <option disabled value="2026">2026</option>
              <option disabled value="2027">2027</option>
              <option disabled value="2028">2028</option>
              <option disabled value="2029">2029</option>
              <option disabled value="2030">2030</option>
              
          </select>
         </div>
         <div class="input-container" id="Month"> 
           <i class="glyphicon glyphicon-time"></i>
           <label for="month">Sélectionner mois</label>
           <select id="month" name="month" #cricket (change)="verify($event)"[(ngModel)]="option2Value">
              <option>Mois</option>
              <option value="janvier">(01)janvier</option>
              <option value="février">(02)février</option>
              <option value="mars">(03)Mars</option>
              <option value="avril">(04)avril</option>
              <option value="mai">(05)Mai</option>
              <option value="juin">(06)juin</option>
              <option value="juillet">(07)juillet</option>
              <option value="août">(08)août</option>
              <option value="septembre">(09)septembre</option>
              <option value="octobre">(10)octobre</option>
              <option value="novembre">(11)novembre</option>
              <option value="décembre">(12)décembre</option>
          </select>
         </div>
      
     </div>
</fieldset>
<div class="container-fluid" id="invoiceform">
<!--edition note section-->
<fieldset id="editionnote" *ngIf="showeditionnote">
<legend>Edition de notes d'honoraires</legend>
<table class="table table-striped">
<thead>
<tr>            
<th>Jour</th>
<th>Date complète</th>
<th>N° Note d'honoraire</th>
<th>Montant HT</th>
<th>Montant TVA</th>
<th>DT</th>
<th>Montant TTC</th>
</tr>
</thead>
<tbody>
    <tr id="editionnotesection" [formGroup]="editionnoteform"(ngSubmit)="logValue()">
        <fieldset formArrayName="ammounts"*ngFor="let ammount of ammountControls; let i = index;">
            <div [formGroupName]="i">
            <td>
                <div class="col-6">
                    <input type="text" onkeyup="value=value.replace(/[^0-9^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.').replace(/^0+/, '')" 
                       class="form-control"(blur)="setdate($event)"formControlName="jour"placeholder="Jour"/>
                </div>
               </td>
               <td>
               <div class="col-6">
                   <input type="text"class="form-control"formControlName="date"placeholder="Date"/>
               </div>
              </td>
              <td>
               <div class="col-6">
                    <input type="text" onkeyup="value=value.replace(/[^0-9^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.').replace(/^0+/, '')" 
                  class="form-control"formControlName="numeronote"placeholder="N° note honoraire"/>
               </div>
              </td>
              <td>
               <div class="col-6">
                    <input type="text" onkeyup="value=value.replace(/[^0-9^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.').replace(/^0+/, '')" 
                  class="form-control"formControlName="montantht"placeholder="Montant HT"/>
               </div>
              </td>
              <td>
               <div class="col-6">
                    <input type="text" onkeyup="value=value.replace(/[^0-9^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.').replace(/^0+/, '')" 
                  class="form-control"formControlName="montanttva"placeholder="Montant TVA"/>
               </div>
              </td>
              <td>
               <div class="col-6">
                    <input type="text" onkeyup="value=value.replace(/[^0-9^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.').replace(/^0+/, '')" 
                  class="form-control"formControlName="montantdt"placeholder="Montant DT"/>
               </div>
              </td>
              <td>
               <div class="col-6">
                    <input type="text" onkeyup="value=value.replace(/[^0-9^\.]+/g,'').replace('.','$#$').replace(/\./g,'').replace('$#$','.').replace(/^0+/, '')" 
                  class="form-control"formControlName="montantttc"placeholder="Montant TTC"/>
               </div>
              </td>
              
              <td>
               <div>
               <button type="button" class="btn btn-primary mb-2" (click)="addammount()">Ajouter note</button>   
               </div>
              </td>
              <td>
               <div>
               <button type="button" class="btn btn-danger btn-sm"*ngIf="i>0" (click)="removeammount(i)">Supprimer note</button>   
               </div>
              </td>
            </div>
        </fieldset>
        <div class="text-right">
            <input type="submit" class="hidden" value="Submit"/>
        </div>
    </tr>
    <tr id="resultrow">
        <td colspan="3">
            <div class="col-6">
                 <p>Totaux</p>
            </div>
        </td>
        <td>{{totalht | number:'1.3-3'| removeComma}}</td>
        <td>{{totaltva | number:'1.3-3'| removeComma}}</td>
        <td>{{totaldt | number:'1.3-3'| removeComma}}</td>
        <td>{{totalttc | number:'1.3-3'| removeComma}}</td>
    </tr>
</tbody>
</table>
</fieldset>
<!--recette journaliére-->
<fieldset id="recettejournaliere" *ngIf="showrecettejour">
    <legend>Recette journaliere</legend>
</fieldset>
</div>