.checkbox-container{
    display: flex;
    
  width: 100%;
  
  padding: 10px;
  
  }
  .input-container {
    display: flex;
    width: 100%;
    padding: 30px;
    
  }
  #invoiceform{
display: none;
  }