.checkbox-container{
    display: flex;
    
  width: 100%;
  
  padding: 10px;
  
  }
  .input-container {
    display: flex;
    width: 100%;
    padding: 30px;
    
  }
  #invoiceform{
display: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    table-layout: auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    
  }
  .input-container {
    display: flex;
    width: 100%;
    padding: 30px;
    
  }
  .input-field {
  
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  .form-control{
    width: 40%;
    
  }
  .form-group{
    display: flex;
  }
  .form-group label{
    width: 250px;
  }