#loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  }
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: transparent;
  table-layout:fixed;
  background-image: url("../../assets/cachet\ macompta.png");
  background-size:100% 100%;

}


.container-fluid{
  margin-top: 20px;
  
}
table, tbody, tr, th, td{
  background-color: rgba(0, 0, 0, 0.0) !important;
}
th, td {
  text-align: left;
  padding: 8px;
  font-size: small;
  background-color: transparent;
}
#date{
  width:90px
}