<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
	  
  
<div id="loader" *ngIf="loading"></div>
  <div class="col-lg-12" *ngIf="!loading">
    <div class="container-fluid">
		<h2 style="text-align:center">Rappelez Vous!</h2>
		<hr>
            
      <div class="users-grid" style="overflow-x:auto;overflow-y: auto;">

        
        
        <table class="table table-striped">
          
          <tbody>
          <tr *ngFor="let event of events">
      
            <td id="date">{{event.date | date : "dd-MM-y"}}</td>
            <td > <a (click)="getNavigation('view-event',event._id)" style="cursor: pointer;" routerLinkActive="active"> {{event.title}}</a>
              <a class="btn btn-primary"*ngIf="event.description" style="font-size: 10px" (click)="getNavigation('view-event',event._id)">Lire Plus</a></td>
          </tr>
          </tbody>
        </table>
      </div>
       <hr>
       <div style="text-align: center;">
        <a class="btn btn-primary"routerLink="calendar-fiscality">Voir tout le calendrier</a>
       </div>
    </div>
  </div>
</body>