#loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-top: 200px;
  }
table {
  position: absolute;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  z-index: 2;
}
#diagonaltext
{
  position: absolute;
  rotate: -60deg;
  opacity: 0.2;
  font-size:80px;
  margin-top:130px;
  z-index: 1;
  color: red;
}

.container-fluid{
  margin-top: 20px;
  
}
th, td {
  text-align: left;
  padding: 8px;
  font-size: small;
  background-color: transparent;
}
#date{
  width:90px
}