h2{
    text-align: center;
  }
  #loader {
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 200px;
    }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    min-width: 50px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  .dategroup{
    display: block;
  }
  #backbutton {
    
    position: relative;
    float: left;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:grey;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #backbutton:hover {
    background-color: #555;
  }