<div id="loader" *ngIf="loading"></div>
<div class="col-lg-12" *ngIf="!loading">
  <!--edition note section-->
  <fieldset id="editionnote" *ngIf="showeditionnote">
    <legend>Edition de notes d'honoraires</legend>
    <table>
        <thead>
      <tr>          
            <th>Jour</th>
            <th>Date complète</th>
            <th>N° Note d'honoraire</th>
            <th>Montant HT</th>
            <th>Montant TVA</th>
            <th>Montant DT</th>
            <th>Montant TTC</th>
            <th>Règlement</th>
      </tr>  
      </thead>
        <tbody>
          <tr *ngFor="let ammount of deccomptabilite.autre1; let i = index;">
            <td  style="text-align: center;"> {{deccomptabilite.autre1.jour | lowercase}}</td>
            <td  style="text-align: center;"> {{deccomptabilite.autre1.date| lowercase}}</td>
            <td  style="text-align: center;"> {{deccomptabilite.autre1.numeronote| lowercase}}</td>
            <td  style="text-align: center;"> {{deccomptabilite.autre1.montantht | lowercase}}</td>
            <td  style="text-align: center;"> {{deccomptabilite.autre1.montanttva| lowercase}}</td>
            <td  style="text-align: center;"> {{deccomptabilite.autre1.montantdt| lowercase}}</td>
            <td  style="text-align: center;"> {{deccomptabilite.autre1.montantttc| lowercase}}</td>
            <td  style="text-align: center;"> {{deccomptabilite.autre1.reglement| lowercase}}</td>
          </tr>
          <tr id="resultrow">
            <td colspan="3">
                <div class="col-6">
                     <p>Totaux</p>
                </div>
            </td>
            <td style="text-align: center;">{{totalht | number:'1.3-3'| removeComma}}</td>
            <td style="text-align: center;">{{totaltva | number:'1.3-3'| removeComma}}</td>
            <td style="text-align: center;">{{totaldt | number:'1.3-3'| removeComma}}</td>
            <td style="text-align: center;">{{totalttc | number:'1.3-3'| removeComma}}</td>
        </tr>
        </tbody>
      </table>
    </fieldset>
</div>