<h2><a routerLink="calendar-fiscality" *ngIf="currentUser.role=='admin'"routerLinkActive="active"> Gestion calendrier fiscale</a></h2>
<div class="container-fluid" *ngIf="currentUser.role=='admin'">
    <h2 style="text-align: center;">Paramêtrage des actualités</h2>
<div class="users-grid"  style="overflow-x:auto;overflow-y: auto;height: 200px;">

        
        
    <table class="table table-striped">
      <thead>
      <tr>
  
        
        <th scope="col">Titre</th>
        <th scope="col">Commentaire</th>
        <th scope="col">Document joint</th>
        <th scope="col">Consultation</th>
        <th scope="col">Modification</th>
        <th scope="col">Suppression</th>

        
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let carousel of carousels">
  
        
        <td>{{carousel.titre}}</td>
        <td>{{carousel.commentaire}}</td>
        <td><a href="{{carousel.ficheUrl}}" target="_blank">Aperçu document joint</a></td>
        <td><button type="button" class="btn btn-success" (click)="getNavigation('view-carousel',carousel._id)">Consulter</button></td>
        <td><button type="button" class="btn btn-primary" (click)="getNavigation('modify-carousel',carousel._id)">Modifier</button></td>
        <td><button type="button" class="btn btn-danger" (click)="onDelete(carousel._id)">Supprimer</button></td>          
      </tr>
      </tbody>
    </table>
  </div>
  <div class="input-container" id="Check1">
    <label for="myCheck1">Afficher le formulaire d'ajouts d'actualités</label>
    <input type="checkbox" id="myCheck1" (click)="myFunction1()">
  </div>
  <div id="bodycontainer">
      
    

    <div class="container-fluid"> 
     
    
  <form  [formGroup]="carouselform">
      <h2>Formulaire d'ajouts d'actualités</h2>
     
      
      
  
        <div title="indiquer titre actualité"class="input-container">
          <input type="text" class="form-control" formControlName="titre" id="titre" placeholder=" Entrez titre">
        </div> 
        <div title="indiquer commentaire"class="input-container">
          <input type="text" class="form-control" formControlName="commentaire" id="commentaire" placeholder=" Entrez commentaire">
        </div> 
         <div title="indiquer description"class="input-container">
          <textarea  class="form-control" rows="10" cols="50"id="description" formControlName="description"placeholder="Entrez description"></textarea>
        </div> 
        <div class="form-group">
          <label for="inputCV">Attacher votre document joint</label>                   
         <input type="file"  #filePicker (change)="onImagePick($event)" class="form-control" accept="application/pdf">
         <div class="image-preview" *ngIf="imagePreview">
           <img [src]="imagePreview" alt="">
         </div>
         <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
        
     </div>
       
      
    
      <button class="btn btn-success" (click)="saveactualite()"><i class="fa fa-refresh fa-spin"*ngIf="loading"></i>Ajouter Actualité</button>
    </form>
    <p>{{ errormsg }}</p>
    
  </div>
  </div>
</div>